/*RESETS INICIALES*/
*{
    box-sizing: border-box;                          /*Hace que el ancho/alto incluyen padding y border*/
    margin: 0;                                       /*elimina los margenes por defecto*/
    padding: 0;                                      /*Elimina rellenos por defecto de todos los elementos*/
}

/*Estilos principales del BODY*/
body{
    min-height: 100vh;                               /*Altura minima del body igual al alto de la ventana*/
    display: grid;                                   /*Convienrte el body en un contenedor 'grid' */
    grid-template-columns: 15% 1fr;                  /*Define dos columnas:  15% y el resto (1fr)*/
    grid-template-rows: 60px 1fr 30px;               /*Define tres filas: header 60px contenido flexible y footer 30px */
    grid-template-areas:                             /*Nombramos las areas del grid para asignarlas luego*/
    "header header" "nav gallery" "footer footer";          
    font-family: fantasy;                                   
    background-color: #e8c9cf;
    color: #2d2726;
}

header{
    grid-area: header;
    background-color: #b98b9a ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #625345;                 /*Linea infrior de 4 px color gris*/
    font-size: 1.8rem;                                  /*Tamaño de la fuente para el título*/
}

nav{
    max-width: 100%;
    grid-area: nav;
    background: #c5bd99;
    padding:1rem;
    overflow-wrap: break-word;
}

nav ul{
    list-style:none;
}

nav li + li {
    margin-top: 1rem;
}

.nav-button{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #2d2726;
    color:#b98b9a;
    text-decoration: none;
    border-radius: 0.3rem;  
    transition: background 0.2s;                       /*transición sueve al cambiar el fondo*/
}

.nav-button:hover{
    background: #db5643; 
}

main{
    padding: 2rem;
}

.gallery img {
    width: 100%;                                     /* Las imageneran al 100% del ancho del contenedor*/
    max-width: 350px;                                /*No se pase de los 300px*/
    height: 300px;                                   /*Altura fija*/
    object-fit: cover;                               /* cORTA O ESCALA LA IMAGEN para cubrir todo el contenedor sin deformar */
    border-radius: 10px;                             /*Bordes redondeados*/
}

/* VAMOS A ORDENAR LA GALERIA*/
.gallery{
    display: grid;                                      /*Convierte .gallery en contenedor fex, es decir, para poder moverlo*/
    gap: 16px;                                          /*ESPACIO ENTRE IMAGENES*/
    grid-auto-rows: auto;
    justify-content: center;                            /*Centra las imagenes horizontalmente*/
}

/*MINIAUTURAS*/

.thumb {
    width: 100%;
    height: 100%;   
    overflow: hidden;                                   /*Si se desbrda se mantiene en ese cuadrdao-> oculta lo que se desborde el cntenedeor*/
    border: 1px solid #70aa87;
    border-radius: 0.5rem; 
    transition: 
        border-radius  0.4s ease,                       /*aumenta de tamaño*/
        transform     0.3s ease,                       /*animación del escalado*/
        box-shadow     0.4s ease;                       /* animacion de la sombre*/
 }

 /*Al pasar el mouse*/
 .thumb:hover{
    border-radius: 1rem;                                /*Aumneta el redondeo de esa zona*/
    transform: scale(1.05);                             /*Escala un 5% de efecto de zooom*/
    box-shadow: 0 0 15px #70aa87 0.3;                 /* sombra tenue*/
 }
 
 /*Imgen dentro de la miniatura*/
 .thumb img{
    display: block;                                     /*elimina espacio de la linea*/
    width: 100%;
    height: 100%;                                       /*alto completo del contenedor*/
    object-fit: contain;                                /*escala la img para verla entera*/
    object-position: center;                            /*centra la imagen dentro dl contennedor y es escalable*/
 }

 /*img de la portada del museo*/
 .portada img{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;                                  /*si cubre todo el contenedor*/
 }

footer{
    grid-area: footer;
    background: #1c0f0e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0rem;
    font-size: 0.9rem;
 }

 /*Imagen de la galeria principal*/
.gallery-portada {
    display: flex;                                       /*cebtrar facilmnete*/
    justify-content: center;
    align-items: center;
    margin-top: 20px;                                    /*para que no este tan pedo en la parte superior*/

}

.gallery-portada img{
    max-width: 90%;                                      /*maximo ancho*/
    height: auto;
    border-radius: 10px;
}

.gallery {
    display: grid;                                      /*Contenedor para grid*/
    gap: 2rem;                                          /*Espacio de 2 rem entre las figuras*/
    grid-auto-rows: auto;                               /*Altura fija de 300px*/
    justify-content: center;
}

/*HACER RESPONSIV*/
/*MEDIA QUERIES - AJUSTES DE PAMTALLA*/

/*Pantallas de hasta 600px EJ: Moviles*/
@media (max-width: 600px){
    body{
        grid-template-columns: 1fr;                        /*Sea de una sola columna*/
        grid-template-rows: 60px auto 1fr 30px;            /**/
        grid-template-areas:                               /*Nombramos las areas del 'grid'*/
        "header" "nav"
        "gallery" "footer";          
    }

    nav ul{
        list-style: none;                   /*Sin viñetas de la lista*/
        padding: 0;                         /*Sin relleno*/
        margin: 0;                          /*Sin margenes*/
        display: flex;                      /*Flex horizontal*/
        justify-content: center;            /*Centrar los botones horizontales*/
        gap: 1rem;                          /*Espacio entre botones*/
        flex-wrap: wrap;                    /*Permite el salto de linea del litado, para colocarlos uno debajo del otro*/
    }

    nav li+li{
        margin-top: 0;                      /*Quita el espacio superior (ahoara son flex)*/
    }

    .gallery{
        justify-content: center;        /*Centara la galleria*/
        grid-template-columns: 1fr;     /*Muestra una sola columna, cuadro por cuadro del museo*/
    }
}

/*Pantallas de 600px hasta 1px EJ: tablest*/
@media (min-width: 601px) and (max-width: 900px){
    .gallery{
        grid-template-columns: repeat(2, 1fr);     /*Muestra dos columnas iguales*/
    }
    .nav-button{
        padding: 0.1rem 0.3rem;                     /*Menos padding para ajustar esos bordes*/
        font-size: 0.9rem;                          /*ligeramente mas pequeño*/
    }
}

/*Pantallas de 600px hasta 1px EJ: tablest*/
@media (min-width: 1400px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);     /*Muestra cuatro columnas iguales*/
    }
}

